<!DOCTYPE html>
<html>
<head>
    <p align="center" style="color:white;"><b>18 December 2016</b></p>
</head>
<body>
<!-- Youtube videos -->
<div align="center">
    <embed width="330" height="250" src="https://www.youtube.com/v/OTknzTQlDgc">
        <embed width="330" height="250" src="https://www.youtube.com/v/YvwlD1T_f4g">
            <embed width="330" height="250" src="https://www.youtube.com/v/IGIPQSPoXIY">
                <embed width="330" height="250" src="https://www.youtube.com/v/e6n0Ie8lqMU">
                    <embed width="330" height="250" src="https://www.youtube.com/v/CTjChitiJSg">
</div>


</body>
</html>